body {
	background-color:#f4f4f4;
	color:#555555;

	font-family: Arial, Helevita, sans-serif;
	font-size: 16px;
	font-weight: normal;

	line-height: 1.6em;
	margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header {
	background-color: #DCFADC;
	color: #000000;
	text-align: center;
	font-size: 20px;
}

header h1 {
	padding: 15px;
}

figure {
 	width: 90%;
 	text-align: center;
 	font-style: italic;
 	font-size: smaller;
 	text-indent: 0;
 	border: thin silver solid;
 	margin: 1em;
 	padding: 0.5em;
}

img  {
	width: 60%;
}

/* do something like center align under image */
figcaption {
	margin: auto;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #383838;

	width: 100%;
}

.rel {
	position: relative;
}

.fx {
	position: fixed;
	top: 0;
}

.navbar li {
	float: left;
}

.navbar li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover:not(.active), .dropdown:hover:not(.active), .dropbtn:hover:not(.active), .dropdown-content a:hover:not(.active) {
	background-color: #282828;
}

.active {
	background-color: #008000;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #383838;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	display: block !important;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.content-start {
	margin-top: 0px;
}

.button {
	background-color: #333333;
	color: #ffffff;
	padding: 10px 15px;

	text-decoration: none;
}

.button:hover {
	background: red;
	color: #ffffff;
}

.arguments {
	list-style-type: none;
	padding-left: 0;
}

.arguments h4 {
	font-style: italic;
	font-weight: normal;
}

.arguments p {
	padding-left: 5%;
}